

.navbar-brand {
    color: white !important;
}

.nav-link{
    color: white !important;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    display: block;
}

.lg-reglage{
    width: 40%;
}